
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .css-1xc3v61-indicatorContainer{
padding: 0px !important;
} */

.css-1fdsijx-ValueContainer{
   min-width: 60px;
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Webkit browsers like Chrome and Safari */
  margin: 0;
}